body {
  text-align: center;
  background-color: #bed9f9;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #050039;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: rgb(255, 217, 0);
  opacity: 0.8;
}

.red {
  background-color: rgb(161, 0, 53);
}

.green {
  background-color: rgb(63, 167, 150);
}

.blue {
  background-color: rgb(42, 9, 68);
}

.yellow {
  background-color: rgb(254, 194, 96);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}